---
import BaseLayout from '../layouts/BaseLayout.astro'
import Legacy from '../components/about/Legacy.astro'
import IrritatedImitated from '../components/about/IrritatedImitated.astro'
import DefinedBy from '../components/about/DefinedBy.astro'
import Story from '../components/about/Story.astro'
import RecordBoard from '../components/about/RecordBoard.astro'
import EmailSignup from '../components/EmailSignup.astro'
---

<BaseLayout
  title="About - Westside Barbell"
  description="Learn about Westside Barbell's legacy of knowledge and power"
  invertHeader={true}
>
  <div class="page about">
    <Legacy />
    <IrritatedImitated />
    <DefinedBy />
    <Story />
    <RecordBoard />
    <EmailSignup />
  </div>
</BaseLayout>
