---
import BaseLayoutComponent from '@/components/BaseLayout.vue';

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Westside Pages", description = "The world's strongest training facility" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <BaseLayoutComponent 
      client:load 
      title={title} 
      description={description}
    >
      <slot />
    </BaseLayoutComponent>
  </body>
</html>

<style lang="scss" is:global>
  @use '../scss/global.scss';
  @use '../scss/cms.scss';
</style>
